<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxh.blog.mapper.UserMapper">

    <!--id对应接口中的方法，名字要一样，parameterType是方法的参数类型，
    resultType是查询返回的类型，需要注意的是，这里的SQL语句后面不能加分号，变量不能加引号-->

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.hxh.blog.pojo.User">
        INSERT INTO user (username, password)
        VALUE (#{username}, #{password})
    </insert>

    <!-- 通过username查询用户 -->
    <select id="queryUserByUsername" resultType="com.hxh.blog.pojo.User">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <!-- 获取所有用户信息 -->
    <select id="getAllUser" resultType="com.hxh.blog.pojo.User">
        SELECT * FROM user
    </select>

</mapper>
